os: osx
osx_image: xcode10.0
language: swift
sudo: required
cache: cocoapods
podfile: Example/Podfile
before_install:
  - gem install cocoapods
  - pod install --project-directory=Example
script:
  - set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace Example/StreamApiCore.xcworkspace -scheme StreamApiCore-Example -sdk iphonesimulator12.0 -destination 'platform=iOS Simulator,name=iPhone 8,OS=12.0'  ONLY_ACTIVE_ARCH=NO | xcpretty
  - pod lib lint

